@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

body{ 
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
}

main{
    display: flex;
    background-color: white;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 30px 5px hsl(210, 9%, 73%)
}

.info_container::before{
    background-image: url("/images/drawers.jpg");
    margin: 500px;
    border: solid;
}

.info_container{
    display: flex;
}

footer { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: hsl(238, 29%, 16%)
}

footer a { color: hsl(228, 45%, 44%) }